.filmbar{
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;   
}

.background1{
    margin-top: 45px;
    background-image: url(../../images/narcos.png);
    
}

.background2{
    background-image: url(../../images/poland.png);
}

.content{
    width: 140px;
    color: #ffffff;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.h2.nonactive{
    display: none;
}
.content .h2{
    font-size: 8px;
    font-weight: 600;
    margin: 0 0 5px 0;
}

.content span{
    font-weight: 200;
}

.content img{
    width:100px;
    margin-bottom: 10px;
}

.content h3{
    font-size: 8px;
    line-height: 10px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 3px;
}
.content p{
    font-size: 6px;
    line-height: 10px;
    font-weight: 300;
    margin: 0;
}


.button.nonactive{
    display: none;
}

.button{
    display: flex;
    margin:5px 0;
    
}

.button button{
    color: #ffffff;
    font-size: 6px;
    padding: 5px 15px;
    border:none;
    border-radius: 4px;
    background: rgba(0,0,0,0.42);
    cursor: pointer;
}

.button button:last-of-type{
    margin-left: 5px;
}

.button button:hover{
    color: #999999;
    background-color: #ffffff;
}



@media only screen and (min-width:768px){
    .content{
        width: 300px;
        min-height: 240px;
    }
    .content .h2{
        font-size: 16px;
        line-height: 20px;
    }
    .content img{
        width: 180px;
        margin-bottom: 15px;
    }
    .content h3{
        font-size: 16px;
        line-height: 20px;
    }

    .content p{
        font-size: 12px;
        line-height: 18px;
    }
    .button button{
        font-size: 10px;
        line-height: 14px;
        padding:5px 25px ;
        margin-top: 10px;
    }

}


@media only screen and (min-width:1024px){
    .filmbar{
        padding: 70px 60px 120px;
    }
    .backgroung1{
        margin-top: 66px;
    }
    .content{
        width: 440px;
        
    }
    .content .h2{
        font-size: 27px;
        line-height: 32px;
        margin-bottom: 10px;
    }

    .content img{
        width: 344px;
        margin-bottom: 25px;
    }

    .content h3{
        font-size: 26px;
        line-height: 30px;
    }

    .content p{
        font-size: 20px;
        line-height: 28px;
    }
    .button{
        margin-top:5px;
    }
    .button button{
        font-size: 16px;
        line-height: 18px;
        padding:10px 37px ;
        margin-top: 30px;
    }

    .button button:last-of-type{
        margin-left: 15px;
    }
}