.footer{
    color: #999999;
    padding: 0 20px 20px;
    font-size: 12px;
    font-weight: 300;
    text-align: start;
}

.footer .icon{
    margin-bottom: 10px;
}

.footer .icon i {
    font-size: 26px;
    margin-right: 15px;
}
.footer .links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 15px;
}

.footer .links .links-columns ul {
    padding: 0;
    margin: 0;
}

.footer .links .links-columns ul li{
    display: block;
    margin-bottom: 15px;
}

.footer button{
    color: #999999;
    padding: 5px;
    border: 1px solid #999999;
    background-color: transparent;
    margin-bottom: 15px;
}

.footer p{
    font-size: 8px;
    margin-bottom: 0;
}

.footer .icon i,
.footer .links li{
    cursor: pointer;
}


.footer .icon i:hover,
.footer .links li:hover,
.footer button:hover{
    color: #ffffff;
}

@media only screen and (min-width:1024px){
    .footer{
        padding: 0 145px 60px;
        margin: 0;
    }

    .footer .icon{
        margin-bottom: 22px;
    }
    .footer .links .links-columns{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        font-size: 14px;
        line-height: 16px;
    }
     
    .footer button{
        font-size:13px;
        line-height: 14px;
    }
    
    .footer p{
        font-size: 11px;
        line-height: 13px;
    }
}